*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fcfcfc;
    font-size: 22px;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
}

body {
    background-color: #2D303B;
}

button {
    border: none;
    cursor: pointer;
    border-radius: 15px;
    background-color: #282b33;
}

#calculator {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #22252d;
    border-radius: 25px;
    box-shadow: 10px 10px 50px #22252D;
}

.output {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 20px;
    padding-top: 80px;
    padding-right: 30px;
}

.previous-output {
    font-size: 18px;
    color: #5d657a;
}

.current-output {
    font-size: 45px;
    font-weight: bold;
}

.input-grid {
    border-radius: 25px;
    padding: 35px 25px;
    background-color: #2a2d37;
    display: grid;
    gap: 15px;
    grid-template: repeat(5, 80px) / repeat(4, 80px);
}

.span-two-columns {
    grid-column: span 2;
}

.text-red {
    color: #e66765;
}

.text-green {
    color: #3ce7cb;
}

button:hover {
    transition: 100ms;
    background-color: #323540;
}
